<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="resources/css/register.css" />
</head>
<body>

    <div class="container">
        <h1>Регистрация</h1>
        <form id="registration-form" action="/register" method="POST">
            <input type="text" placeholder="Имя" required>
            <input type="text" placeholder="Логин" required>
            <input type="password" placeholder="Создайте пароль" required>
            <button type="submit" class="button">Зарегистрироваться</button>
        </form>
        <div class="toggle-link">
            <p>Уже есть аккаунт? <a href="login.html">Войти</a></p>
        </div>
    </div>

</body>
</html>  